<!DOCTYPE html>
<script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#numberOfNewWords").click(function () {

            $.ajax({
                url: '/Home/AddNewLanguageWords',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {

                    $("#numberOfNewWords").removeClass("visibleNumber")
                    $("#numberOfNewWords").text("");
                },
                error: function (error) {
                    console.error(error.responseText);
                }

            });


        });

        $.ajax({
            url: '/Home/GetUserRemainingWords',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (data) {

                if (data) {
                    $("#numberOfNewWords").addClass("visibleNumber")
                    $("#numberOfNewWords").text("NEW");
                }
            },
            error: function (error) {
                console.error(error.responseText);
            }

        });

        $.ajax({
            url: '/Home/GetCurrentLanguage',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (data) {
                if (data) {
                    $("#languageFlag").css("background-image", "url('/Images/" + data + "flag.png')");
                }
            },
            error: function (error) {
                console.error(error.responseText);
            }

        });

    });
</script>
<html lang="en">
<head>
    <meta name="google-site-verification" content="UlmQcGFr5yFV650IDAHN3K_R0_a_dzhE1LFOGEAt6bQ" />
    <meta charset="utf-8" />
    <title>The Words APP - App to learn new words</title>
    <meta name="description" content="The Words App is a simple but highly effective application for learning new words.
        Basing on our own experience with other applications in the past we have created a tool that includes all features which were important and useful while getting to know new words.
        We release this version with great hope that our methods will help also you to learn thousands of specific words from a given language.
        Choose one of numerous language combinations to obtain your learning objective.
        It doesn't matter where you are! Learn at home, school or work, in a cafe or a park, commuting or waiting in a queue. The application is available on you desktop device and on mobile.
        If you haven't already done so, register now and use this genious free tool to gain the knowledge you need!">
    <meta name="keywords" content="Learning of words, Nauka slowek, Skarzysko">
    <link rel="canonical" href="https://thewordsapp.net" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Learn", "Learn", "Home")</li>
                            <li>@Html.ActionLink("Your Words", "Index", "UserWords")<div id="numberOfNewWords"></div></li>
                            <li>@Html.ActionLink("Your Languages", "Index", "ChooseLanguage")</li>
                            <li><div id="languageFlag"></div></li>
                        </ul>
                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Olunia Design</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
